.nav__main {
  background-color: var(--accent-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav__main__controls {
  height: 100%;
  margin: 0 2rem;
}
.nav__main__controls button {
  background-color: var(--accent-color);
  margin: 0 1rem;
  height: 100%;
  width: 75px;
  border: none;
  font-size: 16px;
  color: var(--main-color);
}

.nav__main__controls button:hover {
  color: var(--base-color);
  cursor: pointer;
}
