/* Import component styles */
@import "./components/Map/MapStyles.css";

/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* Default projetct styles */

:root {
  --dark-blue: #006fde;
  --blue: #007fff;
  --light-blue: #2993fd;

  --dark-green: #399525;
  --green: #40a829;

  --modal-color: #adadadf4;
  --text-color: #000;
  --white: #ffff;
  --base-color: #f5f5f5;
  --main-color: #808080;
  --accent-color: #404040;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
