.modal__container,
.modal__uploadContainer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--modal-color);
  backdrop-filter: blur(2px);
}

.modal {
  position: relative;
  background-color: var(--base-color);
  box-shadow: 3px 5px 10px 01px rgba(70, 70, 70, 0.747);
  width: 40%;
  height: 80%;
  margin: auto 0 auto 1.5rem;
}

.modal__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.modal__routeInfo {
  width: 100%;
}

.modal__uploadContainer {
  z-index: 2;
}

.modal__upload {
  position: relative;
  background-color: var(--base-color);
  border-radius: 0.5rem;
  box-shadow: 3px 5px 10px 01px rgba(70, 70, 70, 0.747);
  width: 40%;
  height: 40%;
  margin: 10rem auto auto auto;
}

.modal__closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 22.5px;
  height: 22.5px;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--accent-color);
  color: var(--base-color);
  font-size: 16px;
}

.modal__closeButton:hover {
  background-color: rgb(215, 0, 0);
  color: rgb(215, 0, 0);
  border-radius: 50%;
  transform: scale(0.75);
  transition: ease-in-out 150ms;
}
