/* Table containing routes */

.routeTable {
  width: 90%;
  margin: 0 auto;
}
.routeTable table {
  width: 100%;
}

.routeTable input {
  margin-top: 0.25rem;
  width: 20px;
  height: 20px;
}

/* Defining columns */

.routeTable table > tbody > tr > :nth-child(3),
.routeTable table > tbody > tr > :nth-child(4) {
  width: 70px;
}

/* Table containing files */

.fileTable {
  width: 90%;
  margin: 0 auto;
}

.fileTable table {
  width: 100%;
}

/* Defining columns */
.fileTable table > tbody > tr > :nth-child(3) {
  width: 70px;
}

/* Combined */

.routeTable,
.fileTable {
  height: 385px;
  overflow: scroll;
}

.routeTable thead,
.fileTable thead {
  position: sticky;
  top: -1px;
}

.routeTable td,
.fileTable td {
  background-color: white;
  color: var(--accent-color);
  font-weight: 300;
}

.routeTable th,
.fileTable th {
  background-color: var(--accent-color);
  color: var(--main-color);
  font-size: 16px;
  font-weight: 400;
}
.routeTable th:hover,
.fileTable th:hover {
  color: var(--base-color);
}

.routeTable th,
.fileTable th {
  text-align: center;
  padding: 0.5rem;
}

.routeTable td,
.fileTable td {
  text-align: center;
  height: 30px;
}
.routeTable img,
.fileTable img {
  margin-top: 0.2rem;
}

.routeTable table,
.routeTable th,
.routeTable td,
.fileTable table,
.fileTable th,
.fileTable td {
  border: 1px solid black;
  border-collapse: collapse;
}
